<div>
    <div>
        <div>
            <nav class="navbar" style="background-color: white;border-right: 0;border-left: 0; border-bottom: 1px  white;margin: 0; border-radius: 0;">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar" style="background-color: #FE8A63"></span>
                            <span class="icon-bar" style="background-color: #FE8A63"></span>
                            <span class="icon-bar" style="background-color: #FE8A63"></span>
                        </button>
                        <div>
                            <a  class="navbar-brand btn" ng-click="goMain()" style="padding-left: 100px; color: #c61306;font-weight:bold; font-size: 150%">Pizza Monster</a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="btn" ng-click="menuRequest()" style="color:#FE8A63;">Menu</a></li>
                            <!--<li><a href="#" style="color:#FE8A63;"><span class="glyphicon glyphicon-shopping-cart"></span> Cart <span class="badge">{{cartItemsNo}}</span></a></li>-->
                            <li ng-if="isLogged == false"><a type="button" class="btn" style="color:#FE8A63;" ng-click="signUp()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li ng-if="isLogged"><a type="button" class="btn" ng-click="signOut()" style="color:#FE8A63;"><span class="glyphicon glyphicon-user"></span>Sign out as {{userName}}</a></li>
                            <li ng-if="isLogged == false"><a type="button" class="btn" ng-click="login()" style="color:#FE8A63;"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
                            <li><a ui-sref="help" style="color:#FE8A63;"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8" style="height: 50%">

            <div   style="background-color: white; height: 100%;">
                <h2 style="text-align: center;padding-top: 20px">Your Cart</h2>
                <hr>


                <div ng-if="cartItems.length !== 0">
                    <ul class="list-group" ng-repeat="cartItem in cartItems" ng-model="cartItems">
                        <li class="list-group-item" style="border-radius:0; border: hidden">
                            <div class="row">
                                <h3 class="col-lg-3">{{cartItem.amount}}</h3>
                                <h3 class="col-lg-9">{{cartItem.name}}</h3>
                            </div>
                        </li>
                    </ul>
                    <h3 style="padding:10px ">Total Price: {{totalPrice}}</h3>
                    <button type="button" class="btn btn-success btn-block btn-lg" ng-click="submitOrder()" style="">Summary and Checkout</button>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2"></div>
</div>
</div>